nav {
    background: #007A03;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  div {
    padding: 20px;
  }
  